:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
.subnav {
  flex: none;
}
.body {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
