<fleet-proposal-panel
  [vm]="panelVm()"
  [state]="panelState()"
  [evidence]="evidenceRows()"
  [evidenceState]="evidenceState()"
  [canControl]="canControl()"
  (pass)="openPass()"
  (accept)="openAccept()"
/>

@if (passingProposal(); as proposal) {
  <app-gardening-proposal-pass-dialog
    [proposalId]="proposal.proposal_id"
    [proposalTitle]="proposal.title"
    (closed)="closePass()"
  />
}

@if (acceptingProposal(); as proposal) {
  <app-gardening-proposal-accept-dialog
    [proposalId]="proposal.proposal_id"
    [proposalTitle]="proposal.title"
    [proposalBody]="proposal.body"
    (closed)="closeAccept()"
  />
}
